/* color : #243763 (blue) #FF6E31 (orange) #FFEBB7 (creme) #AD8E70 (marron) */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #243763;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;0,700;1,500&display=swap');


html{
	scroll-behavior: smooth;
}

a,
.btn{
	transition: all 200ms ease-in-out;
	text-decoration: none;
}

.contenu{
	padding-top: 20px;
	padding-bottom: 50px;
	background-image: url('img/topography.png');
	background-size: 600px;
	background-repeat: repeat;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: black;
	min-height: 720px;
}

.contenu h3{
	color: #FF6E31;
	justify-content: center;
	text-align: center;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
	font-size: 18px;
}

nav ul li a{
	text-decoration: none;
	color: #FF6E31;
	text-underline-offset: 0.8rem;
}

ul li a:hover{
	color: #ffebb7;
	text-decoration: underline; 
	text-underline-offset: 0.4rem;
}

nav img{
	position: absolute;
	top: 25px;
}

#logo_2{
	opacity: 0;
}

.logo:hover #logo_1{
	opacity: 0;
}

.logo:hover #logo_2{
	opacity: 1;
}

.logo img{
	transition: opacity 0.35s ease-in-out;
}


.header{
	justify-content: center;
	color: #FF6E31;
	width: 100%;
	min-height: 100px;
	padding: 0 10%;
	text-align: center;
}

h1{
	color: #FF6E31;
	text-align: center;
}

.footer {
	height: 80px;
	justify-content: center;
	color: #ffebb7;
	margin-bottom: 0%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

#slider{
	position: relative;
	width: 1280px;
	margin: auto;
	align-items: center;
	transition: opacity 0.3s ease;
	background: none;
}

#precedent, #suivant{
	font-size: 100px;
	position: absolute;
	background-color: #243763c9;
	color: #FF6E31;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease;
}

#precedent{
	left: 0;
}

#suivant{
	right: 0;
}

#slider:hover #precedent, #slider:hover #suivant{
	opacity: 1;
}

.para-type_1{
	padding: 10px;
	transition: margin 0.5s ease-in-out;
}

@media screen and (max-width: 860px){
	.para-type_1{
		margin: 0%;
		background-color: #243763;
	}
	.para-type_1 h1{
		font-size: 20px;
	}
}

@media screen and (min-width: 860px){
	.para-type_1{
		margin: 0 20% 0 20%;
		background-color: #243763;
		border-radius: 15px;
	}
	.para-type_1 h1{
		font-size: 24px;
	}
}

.para-type_1 h1, h2{
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	color: #FF6E31;
	text-underline-offset: 0.8rem;
}

.double_line{
	border-top: 4px double #FF6E31;
	width: 100%;
	margin-bottom: 1rem;
	padding-top: -1rem;
}

.para-type_1 a{
	text-decoration: none;
	color: #FF6E31;
}

.para-type_1 a:hover{
	color:#FFebb7;
	text-decoration: underline; 
	text-underline-offset: 0.4rem;
}

.footer a{
	text-decoration: none;
	color: #ffebb7;
	text-underline-offset: 0.4rem;
}

.footer a:hover{
	color:#FF6E31;
	text-decoration: underline; 
	text-underline-offset: 0.3rem;
}

.para-type_1 ul li{
	list-style: none;
	margin: 10px 30px;
}



#slider-2{
	position: relative;
	width: 1280px;
	margin: auto;
	align-items: center;
	transition: opacity 0.3s ease;
	background: none;
}

#precedent-2, #suivant-2{
	font-size: 100px;
	position: absolute;
	background-color: #243763c9;
	color: #FF6E31;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s ease;
}

#precedent-2{
	left: 0;
}

#suivant-2{
	right: 0;
}